body {
	margin: 0px;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
	font-family: 'IBM Plex Serif', serif;
	font-size: 20px;
}


.flexforinfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #448ccc;
}


#me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/*padding: 18em;*/
	background-color: #003470;
	color: #ffffff;
	}

#contact {
	/*padding: 16.35em;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #a1d39b;
	color: #ffffff; 

}

#artworks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/*padding: 19.12em;*/
	background-color: #01aa9c;
	color: #ffffff; 

}


form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	background-color: #e4df9b;
	padding: 27px;
	padding-right: 0px;
	border-radius: 30px;
}

.formthings {
	/*padding: 10px;
	padding-right: 100px;*/
/*	margin: 20px;
	margin-left: 50px;*/
}

button {
	margin: 20px;
	margin-left: 50px;
	border-radius: 20px;
	background-color: #01aa9c;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: #01aa9c;
}
button:hover {
	background-color: #c4df9b;
}

.artwork {
  width: 30%;
  height: 300px;
  float: left;
  margin: 1.11%; 
}

a {
	color: #ffffff;
}

table {
	background-color: #448ccc;
	margin: 0px;
	padding: 1rem;
	padding-left: 43%;
	padding-right: 43.55%;
}

.link {
	text-decoration: none;
	margin-left: 1.3rem;
}

a:hover {
	color: #fff79a;
}

@media (max-width: 500px) {
	/*button {
		background-color: blue;
	}*/
	nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #448ccc;
	}
}